<ng-container *ngFor="let month of this.calendarService.months">
  <h2 class="disable-text-selection">{{month.name}}</h2>

  <div class="grid">
    <ng-container *ngFor="let day of month.days; first as isFirst">
      <div [ngClass]="[
          [0,6].includes(day.date.getDay()) ? 'col-1' : 'col-2',
          isFirst && day.date.getDay() > 0 ? 'col-offset-' + ((day.date.getDay() * 2) - 2) : isFirst ? 'col-offset-11' : '']">
        <app-day [day]="day"></app-day>
      </div>
    </ng-container>
  </div>
</ng-container>
